<!--<aside class="app-sidebar">
  <nav>
    <ul>
      <li *appHasPermission="['admin_dashboard', 'doctor', 'nurse', 'receptionist']">
        <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
      </li>
      <li *appHasPermission="['view_patients']">
        <a routerLink="/patients" routerLinkActive="active-link">Patients</a>
      </li>
      <li *appHasPermission="['view_appointments', 'manage_scheduling']">
        <a routerLink="/appointments" routerLinkActive="active-link">Appointments</a>
      </li>
      <li *appHasPermission="['manage_users']">
        <a routerLink="/users" routerLinkActive="active-link">Users</a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active-link">Settings</a>
      </li>
    </ul>
  </nav>
</aside>-->

<aside class="app-sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
      </li>
      <li>
        <a routerLink="/patients" routerLinkActive="active-link">Patients</a>
      </li>
      <li>
        <a routerLink="/secretary" routerLinkActive="active-link">Secretary Portal</a> 
      </li>
      <li>
        <a routerLink="/doctor" routerLinkActive="active-link">Doctor Portal</a>
      </li>
      <li>
        <a routerLink="/appointment" routerLinkActive="active-link">Appointments</a>
      </li>
      <li>
        <a routerLink="/billing" routerLinkActive="active-link">Billing</a>
      </li>
      <li>
        <a routerLink="/prescription" routerLinkActive="active-link">Prescriptions</a>
      </li>
      <li>
        <a routerLink="/reports" routerLinkActive="active-link">Reports & Analytics</a>
      </li>
       <li>
        <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
      </li>
      </ul>
  </nav>
</aside>



