<div class="app-pagination" *ngIf="totalPages > 0">
  <button
    class="page-button"
    (click)="goToPage(currentPage - 1)"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>

  <ng-container *ngFor="let page of pages">
    <button
      class="page-button"
      [ngClass]="{ 'active': page === currentPage }"
      (click)="goToPage(page)"
    >
      {{ page }}
    </button>
  </ng-container>

  <button
    class="page-button"
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>

  <span class="page-info">
    Page {{ currentPage }} of {{ totalPages }}
  </span>
</div>